<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white shadow-md rounded-lg p-6 max-w-md w-full">
        <a href="/" title="Go back"><i class="fa fa-arrow-left"></i></a>

        {{ flash_messages }}

        <p class="text-red-700 text-center">{{ new_card_info }}</p>

        <h2 class="text-3xl font-semibold text-gray-800 text-center mb-6">This card has {{ amount }} on it</h2>

        <form autocomplete="off" method="post" action="/add_money">
            <input type="hidden" name="card_number" value="{{ card_number }}" />
            <input type="hidden" name="new_card" value="{{ new_card }}" />
            <div class="mb-4">
                <label for="add-money" class="block text-gray-700 font-medium mb-2">Add More Money</label>
                <input type="text" id="add-money" name="add_money" placeholder="Enter amount to add" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="text-center mb-4">
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Add Money
                </button>
            </div>
        </form>

        <form class="{{ return_money_class }}" method="post" action="/return_money">
            <input type="hidden" name="card_number" value="{{ card_number }}" />
            <div class="text-center">
                <button type="submit" class="w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500">
                    Return Money
                </button>
            </div>
        </form>
    </div>
    <script>
        document.querySelector("#add-money").focus();
    </script>
</body>
</html>
